.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.error_message {
  color: #ff3a3a;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  font-size: 18px;
  padding: 5px 40px;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.input {
  background-color: white;
  border: none;
  color: #131618;
  font-size: 18px;
  padding: 5px 15px;
}