.chatView {
  background-color: #383f49;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.emptyMessage {
  margin: auto;
  font-size: 22px;
}

.chatView_header {
  display: flex;
  height: 70px;
  padding: 0 20px 0 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
}

.header_chatName {
  font-size: 20px;
}

.header_buttonContainer {
  img {
    filter: invert(1);
  }
}